@import '@/variables';
@import '@/breakpoints';

:root {
  background-color: $dark-violet;
}

#root {
  min-width: 375px;
  max-width: $large-screen-breakpoint;
  background-color: $white;
  margin: 0 auto;
}

.text-xs {
  font-size: $font-xs;
}

.text-small {
  font-size: $font-s;
}

.text-xl {
  font-size: $font-xl;
}

.text-bold {
  font-weight: 500;
}

.page-container {
  padding: 8px;

  @media screen and (min-width: 406px) and (max-width: $phone-breakpoint) {
    padding: 16px;
  }

  @media screen and (min-width: $tablet-breakpoint) {
    padding: 48px;
  }
}

.icon-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}
